<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Sound Makes Football</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'post/index.css' %}" />
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'post/bootstrap.min.css' %}" /> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'post/bootstrap.min.css.map' %}" /> {% endcomment %}
    {% block staticfiles %}
    {% endblock %}
</head>

<body>
    {% include "./nav.html" %}
    {% block content %}
    {% endblock %}
    {% include "./footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>

</html>
