nav{
    /* background-color: #CDF0EA; */
    margin-bottom: 50px;
}
nav a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
nav aside{
    text-align: right;
    /* background-color: #F9F9F9; */
    padding: 10px 0;
    border-bottom: black;
    border-style: solid;
}
nav section{
    display: flex;
    padding: 10px 100px;
}
nav section div{
    flex-direction: column;
    margin-left: 10px;
}
nav section div a{
    font-size: larger;
}
.menu{
    line-height: 100px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #ddd;
    margin-top: -20px;
    margin-left: -5px;
}

.dropdown-content a {
    margin: 10px;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}
